<template name="home">
    <div class="col-md-4">
        <header class="page-header">
            <h1 >Need More Donald?</h1>
        </header>
        <p>We get it. The Onion has been rehashing the same jokes over and over again, and local news organizations are not keeping up with the Joneses. Where should we best get our lousy humor from?</p>
        <p>Naturally: politics. But the 24-hour news cycle is simply not spouting enough from the likes of Donald Trump, Ben Carson, Hillary Clinton, and other presidential wannabes. So we sought to find a better way. A way that would make Donald Trump say, "Keep these computers out of my country!"</p>
        <p>This application automates the spouting of political junk so that politicians need no longer spend time inventing and inundating the self-referential media circuit we call the 4th branch of government. Because what is democracy if not ever increasingly less human and more computerized?</p>
    </div>

    {{> tweets class="col-md-8"}}
</template>