main.layout-test {
    width: 140%;
    padding-right: 55px;
}

.layout-test .user-profile-picture {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
}

.layout-test .tweet-retrieval-tweets {
    max-height: 25em;
    overflow-y: scroll;
    padding-right: 1.5em;
}

.layout-test .markov-model-frequencies {
    max-height: 25em;
    overflow-y: scroll;
}

.layout-test .tweet-name-group,
.layout-test .name-group {
    width: 70%;
}

.layout-test .tweet-name-group .form-control,
.layout-test .name-group .form-control,
.layout-test .length-group .form-control,
.layout-test .tweet-name-group .input-group {
    width: 100%;
}

.layout-test .length-group {
    width: 25%;
}