main {
    width: 140%;
    padding-right: 55px;
}

.user-profile-picture {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
}

.tweet-retrieval-tweets {
    max-height: 25em;
    overflow-y: scroll;
    padding-right: 1.5em;
}

.markov-model-frequencies {
    max-height: 25em;
    overflow-y: scroll;
}

.tweet-name-group,
.name-group {
    width: 70%;
}

.tweet-name-group .form-control,
.name-group .form-control,
.length-group .form-control,
.tweet-name-group .input-group {
    width: 100%;
}

.length-group {
    width: 25%;
}