<template name="test">
    <section class="col-md-12">
        <form class="tweet-retrieval form-inline">
            <div class="form-group">
                <label class="sr-only" for="screen-name">Screen Name</label>
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="text" class="form-control" id="screen-name" placeholder="realDonaldTrump">
                </div>
            </div>
            {{!-- <button type="submit" class="btn btn-primary">Retrieve Tweets</button> --}}
        </form>
    </section>
    <section class="col-md-6">
        <section class="user-profile">
            <h2>Profile</h2>
            {{#with userProfile}}
            <img src="{{profile_image_url}}" alt="{{screen_name}} Profile Picture" class="user-profile-picture">
            <h3 class="screen_name">@{{screen_name}}</h3>
            <span class="real_name">{{name}}</span>
            {{/with}}
        </section>
        <section class="tweet-retrieval">
            <h2>Tweets <small>Total {{tweets.length}}</small></h2> 
            {{#if tweets}}
            <div class="tweet-retrieval-tweets">
                {{#each tweets}}
                <p>
                    {{text}}
                    <br />
                    <small>{{created_at}}</small>
                </p>
                {{/each}}
            </div>
            {{/if}}
        </section>
        
    </section>
</template>