<template name="test">
    <section class="col-md-12">
            {{!-- <button type="submit" class="btn btn-primary">Retrieve Tweets</button> --}}
    </section>
    <section class="col-md-6">
        <form class="tweet-retrieval-input">
            <div class="form-group">
                <label class="sr-only" for="screen-name">Screen Name</label>
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="text" class="form-control" id="screen-name" placeholder="realDonaldTrump">
                </div>
            </div>
        </form>
        <section class="user-profile">
            <h2>Profile</h2>
            {{#with userProfile}}
            <img src="{{profile_image_url}}" alt="{{screen_name}} Profile Picture" class="user-profile-picture">
            <h3 class="screen_name">@{{screen_name}}</h3>
            <span class="real_name">{{name}}</span>
            {{/with}}
        </section>
        <section class="tweet-retrieval">
            <h2>Tweets <small>Total {{tweets.length}}</small></h2> 
            {{#if tweets}}
            <div class="tweet-retrieval-tweets">
                {{#each tweets}}
                <p>
                    {{text}}
                    <br />
                    <small>{{created_at}}</small>
                </p>
                {{/each}}
            </div>
            {{/if}}
        </section>
    </section>
    <section class="col-md-6">
        <form class="markov-model-input">
            <div class="form-group">
                <label class="sr-only" for="markov-input">Source Text</label>
                <input type="text" class="form-control" id="markov-input" placeholder="Sample Text Here">
            </div>
        </form>
        <section class="markov-model">
            <h2>Markov Model <small>{{markovModelLength}} Entries</small></h2>

            {{#with markovModel}}
                <div class="markov-model-frequencies">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>History</th>
                                <th>Frequency Table</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each markovModel}}
                            <tr>
                                <td><code>{{history}}</code></td>
                                <td>
                                    {{#each frequencies}}
                                    <code>{{letter}}</code> {{freq}} 
                                    {{/each}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/with}}
        </section>
    </section>
</template>